################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packagedelivery-web/bin/Debug/netcoreapp2.2
/packagedelivery-web/obj
